body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 30px;   
}
hr{
    border: 1px solid black;    
    width: 50vw;
}

p{
    font-size: 32px;
}

label{
    font-size: 28px;
}

input{
    font-size: 28px;
    text-align: center;
    width: 5ch;
    font-family: sans-serif;
    padding: 5px;
    margin: 5px;
}

select{
    font-size: 28px;
    padding: 5px;
    margin: 5px;
}

button{
    font-size: 24px;
    background-color: lightpink;
    border-radius: 10%;
    border-color: white;
}

p {
    font-size: 32px;
    text-align: center;
}

label {
    font-size: 28px;
    font-family: sans-serif;
}


label#result, label#wresult {
    font-size: 32px;
    text-align: center;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}
